<% if action == :edit %>
  <% action_url = cat_url(cat) %>
<% else %>
  <% action_url = cats_url %>
<% end %>

<form action="<%= action_url %>" method="post">
    <% if action == :edit %>
      <input type="hidden" name="_method" value="PATCH">
    <% end %>

    <label for="name">Name</label>
    <input id="name" type="text" name="cat[name]" value="<%= cat.name %>">

    <br>

    <label for="birth_date">Birth Date</label>
    <input id="birth_date" type="date" name="cat[birth_date]" value="<%= cat.birth_date %>">

    <br>

    <input id="male" type="radio" name="cat[sex]" value="M" <%= cat.sex == "M" ? checked= "checked" : ""%>>
    <label for="male">Male</label>
    <input id="female" type="radio" name="cat[sex]" value="F" <%= cat.sex == "F" ? checked= "checked" : ""%>>
    <label for="female">Female</label>

    <br>

    <label for="color">Color</label>
    <select id="color" name="cat[color]">
        <option disabled <%= cat.color ? "" : "selected" %>>-- Please Select --</option>
        <% Cat::COLORS.each do |color| %>
        <option value="<%= color %>" <%= cat.color == color ? "selected" : "" %>><%= color.capitalize %></option>
        <% end %>
    </select>

    <br>

    <label for="description">Description</label>
    <textarea id="description" name="cat[description]"><%= cat.description %></textarea>

    <br>
    <br>

    <input type="submit" value="<%= (action == :edit) ? "edit cat" : "add cat"%>">
</form>