<table>
    <thead>
        <tr>
            <th colspan="2">Introducing: <%= @cat.name %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Age:</td>
            <td><%= @cat.age%></td>
        </tr>
        <tr>
            <td>Birth Date:</td>
            <td><%= @cat.birth_date%></td>
        </tr>
        <tr>
            <td>Sex:</td>
            <td><%= @cat.sex%></td>
        </tr>
        <tr>
            <td>Color:</td>
            <td><%= @cat.color.capitalize%></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><%= @cat.description%></td>
        </tr>
    </tbody>
</table>

<br>
<br>

<h3>Rental Requests for <%= @cat.name %>:</h3>

<% if @rental_requests.empty? %>
  <p> There are no rental requests for <%= @cat.name %></p>
<% else %>
  <% @rental_requests.each do |request| %>

    <ul>
      <li>Start Date: <%= request.start_date %></li>  
      <li>End Date: <%= request.end_date %></li>
    </ul>  
    <br>
  <% end %>
<% end %>

<h4><a href="../cats/">< Back</a></h4>